[Desktop Entry]
Name=Garfio
Comment=Builder custom distributions and backups
Comment[es]=Generador de distribuciones personalizadas y backup
Comment[pt]=Gerador de distribuições customizadas e cópia de segurança
Exec=gksu "garfio --gui" -D /usr/share/applications/garfio.desktop
Icon=/usr/lib/tuquito/garfio/logo.png
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
